ipython[notebook]
coveralls
nose2
selenium
jupyterhub-dummyauthenticator
jupyterhub
dockerspawner
GitPython==1.0.1
git+https://github.com/yuvipanda/jupyterhub-dummy-authenticator.git#egg=Package
nose2
selenium