{% extends "page.html" %}

{% block login_widget %}
{% endblock %}

{% block main %}
{% block login %}

<div class="container">
{% if custom_html %}
{{ custom_html }}
{% elif login_service %}
<div class="service-login">
  {% if repo_url %}
  <a class='btn btn-github btn-lg' href='oauth_login?repo_url={{repo_url}}'>
  {% else %}
  <a class='btn btn-github btn-lg' href='oauth_login'>
  {% endif %}
    Sign in with {{login_service}}
  </a>
</div>
{% else %}
<form class="form-horizontal" action="{{login_url}}?next={{next}}" method="post" role="form">
  <div>
    {% if login_error %}
    <p class="login_error">
      {{login_error}}
    </p>
    {% endif %}
    <div class="form-group">
      <label class="col-sm-3 control-label" for="username_input">Username</label>
      <div class="col-sm-8">
        <input
          id="username_input"
          type="username"
          autocapitalize="off"
          autocorrect="off"
          class="form-control"
          name="username"
          val="{{username}}"
          tabindex="2"
          autofocus="autofocus"
        />
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-3 control-label" for='password_input'>Password</label>
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          name="password"
          id="password_input"
          tabindex="3"
        />
      </div>
    </div>
    <input
      type="submit"
      id="login_submit"
      class='btn btn-lg btn-primary btn-block'
      value='Launch'
      tabindex="4"
    />
  </div>
</form>
{% endif %}

<div class="container">
  <div class="row row-centered">
    <div class="col-sm-6" style="float:none; margin:0 auto">
      <a href="https://github.com/everware">Everware</a> is a
      project that allows you to edit and run someone else's code with one
      click. Even if that code has complicated setup instructions. The main
      aim of the project is to encourage reuse of software between
      researchers.
    </div>
    <div class="col-sm-6" style="float:none; margin:0 auto">
      Currently Everware is in private beta, if you are interested in
      trying it out:
      <a href="http://goo.gl/forms/vbZXgYgj3N">join the waiting list</a>.
      
    </div>
  </div>
</div>

</div>
</div>
{% endblock login %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
{{super()}}

{% endblock %}
