{% macro modal(title, btn_label=None, btn_class="btn-primary") %}
{% set key = title.replace(' ', '-').lower() %}
{% set btn_label = btn_label or title %}
<div class="modal fade" id="{{key}}-dialog" tabindex="-1" role="dialog" aria-labelledby="{{key}}-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="{{key}}-label">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{ caller() }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn {{btn_class}}" data-dismiss="modal" data-dismiss="modal">{{btn_label}}</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">

    <title>{% block title %}Everware{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ static_url("components/material-design-lite/material.min.css") }}" type="text/css"/>
    <link rel="icon" href="{{ static_url("images/favicon.ico") }}" sizes="32x32" type="image/ico"/>
    <!--link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-blue.min.css" /-->
    <link rel="stylesheet" href="{{ static_url("css/material.teal-blue.min.css") }}" type="text/css" /-->
    <!--link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" /-->
    <link rel="stylesheet" href="{{ static_url("css/material_icons.css") }}" type="text/css" /-->
    <!--link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,500,300italic,500italic,700italic,900,300"-->
    <link rel="stylesheet" href="{{ static_url("css/fonts.css") }}" type="text/css" /-->
    {% block stylesheet %}
    {% endblock %}
    <link rel="stylesheet" href="{{ static_url("css/custom.css") }}" type="text/css"/>
    <script src="{{static_url("components/requirejs/require.js") }}" type="text/javascript" charset="utf-8"></script>
    <!--script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script-->
    <script defer src="{{ static_url("js/material.min.js") }}"></script>
    <script>
      require.config({
          {% if version_hash %}
          urlArgs: "v={{version_hash}}",
          {% endif %}
          baseUrl: '{{static_url("js", include_version=False)}}',
          paths: {
            components: '../components',
            jquery: '../components/jquery/jquery.min',
            bootstrap: '../components/bootstrap/js/bootstrap.min',
            moment: "../components/moment/moment",
          },
          shim: {
            bootstrap: {
              deps: ["jquery"],
              exports: "bootstrap"
            },
          }
      });
    </script>
    
    <script type="text/javascript">
      window.jhdata = {
        base_url: "{{base_url}}",
        prefix: "{{prefix}}",
        {% if user %}
        user: "{{user.name}}",
        {% endif %}
      }
    </script>

    {% block meta %}
    {% endblock %}

</head>

<body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout everware-page">
  <main class="mdl-layout__content">

  <div class="everware-content">
    <div class="everware-logo">
      <img src="{{ static_url("images/everware-logo-teal.svg") }} "/>
      <h1 class="mdl-typography--display-2">
        <span class="mdl-color-text--teal">ever</span>ware
      </h1>
    </div>
    
    <noscript>
      <div id='noscript'>
        Everware requires JavaScript.<br>
        Please enable it to proceed.
      </div>
    </noscript>

    {% block main %}
    {% endblock %}
  </div>

  {% block footer %}
  <footer class="mdl-mini-footer everware-footer">
      <div class="mdl-mini-footer__left-section">
        Powered by <a href="https://jupyter.org/">Jupyter</a> and <a href="https://www.docker.com/">Docker</a>
      </div>
      <div class="mdl-mini-footer__right-section">
      {% if user %}
        <div>Logged in as {{user.name}} (<a id="logout" href="{{logout_url}}">Logout</a>)</div>
      {% endif %}
      </div>
  </footer>
  {% endblock %}
  </main>
</div>

{% block script %}
{% endblock %}

</body>

</html>
