{% extends "page.html" %}

{% block stylesheet %}
{% endblock %}

{% block main %}

<div class="spawn-error-msg text-danger" id="error_text"
{% if not error_message %}
style="display: none;"
>
{% else %}
>
  Error: {{error_message}}
{% endif %}
</div>
<form enctype="multipart/form-data" id="spawn_form" action="{{base_url}}spawn" method="post" role="form">
  {{spawner_options_form | safe}}
  <br>
  <input type="submit" value="Launch notebook" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
</form>

Paste the link to the git repository you want to try out. If you
need some inspiration try one of the following repositories:
<ul>
  <li>https://github.com/everware/everware-dimuon-example</li>
  <li>https://github.com/betatim/everware-demo</li>
</ul>
Read the documentation
to <a href="https://github.com/everware/everware/wiki/Being-everware-compatible">learn
how to make your repositories work</a> with everware.

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["jquery"], function ($) {
  function showError(message) {
    $("#error_text").text("Error: " + message);
    $("#error_text").show();
  }
  $("#spawn_form").on('submit', function (event) {
    var repo_url = $('#repository_input').val();
    if (!repo_url) {
      showError('You have to provide the URL to a git repository.');
      return false;
    } else if (repo_url.lastIndexOf('git://', 0) == 0) {
      showError("git protocol isn't supported yet. Please use the HTTPS URL scheme");
      return false;
    }
  });
});
</script>
{% endblock %}
