{% extends "page.html" %}

{% block stylesheet %}
{% endblock %}

{% block main %}

<div class="spawn-error-msg text-danger" id="error_text"
{% if not error_message %}
style="display: none;"
>
{% else %}
>
  Error: {{error_message}}
{% endif %}
</div>
<form enctype="multipart/form-data" id="spawn_form" action="{{base_url}}spawn" method="post" role="form" style="margin-bottom: 5px;">
  {{spawner_options_form | safe}}
  <br>
  <input type="submit" value="Launch notebook" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
</form>

Paste the link to the git repository you want to try out. If you
need some inspiration try one of the following repositories:
<ul>
  <li>
    <a id="clipboard-example-1" href="https://github.com/everware/everware-dimuon-example">https://github.com/everware/everware-dimuon-example</a>
    <button class="mdl-button mdl-js-button mdl-button--icon clipboard-example--button" data-text-source="clipboard-example-1" title="Copy to form">
      <i class="material-icons">content_copy</i>
    </button>
  </li>
  <li>
    <a id="clipboard-example-2" href="https://github.com/betatim/everware-demo">https://github.com/betatim/everware-demo</a>
    <button class="mdl-button mdl-js-button mdl-button--icon clipboard-example--button" data-text-source="clipboard-example-2" title="Copy to form">
      <i class="material-icons">content_copy</i>
    </button>
  </li>
</ul>
Read the documentation
to <a href="https://github.com/everware/everware/wiki/Being-everware-compatible">learn
how to make your repositories work</a> with everware.

{% endblock %}

{% block script %}
<script type="text/javascript">
require(["jquery"], function ($) {
  function showError(message) {
    $("#error_text").text("Error: " + message);
    $("#error_text").show();
  }
  $("#spawn_form").on('submit', function (event) {
    var repo_url = $('#repository_input').val();
    if (!repo_url) {
      showError('You have to provide the URL to a git repository.');
      return false;
    } else if (repo_url.lastIndexOf('git://', 0) == 0) {
      showError("git protocol isn't supported yet. Please use the HTTPS URL scheme");
      return false;
    }
  });

  $('.clipboard-example--button').click(function (e) {
      var input = $('#repository_input');
      var linkId = $(e.currentTarget).attr('data-text-source');
      var href = $('#' + linkId).attr('href');
      input.val(href).parent().addClass('is-focused');
  });
});
</script>
{% endblock %}
