{% extends "page.html" %}

{% block title %}
Everware
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ static_url("css/style.min.css") }}" type="text/css"/>
{% endblock %}


{% block main %}

<div id="login-main">
<header class="jumbotron masthead" style="padding: 1px">
    <h1 style="font-size: 55px">everware</h1>
    <p style="font-size: 26px">Sharing is caring</p>
</header>


<div class="container">
    <div class="row" style="margin-top: 2%">
        <div class="text-center">
            <p>Your old server hasn't been destroyed already.</p>
            <p>This can take some time, please be patient.</p>
            <p>You will be redirected to home page automatically when it's ready for you.</p>
            <p>This page is updated automatically.</p>
            <a id="refresh" class="btn btn-lg btn-primary" href="#">refresh</a>
        </div>
    </div>
    <div class="row" id='log-lines' style="margin-top: 2%"></div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

require(["jquery"], function ($) {
    $("#refresh").click(function () {
        window.location.reload();
    });
    setTimeout(function () {
        window.location.reload();
    }, 3000);
});
</script>
{% endblock %}